{% extends 'templates/template_base.html' %}

{% block content %}

{% if send_message %}
 <script type="text/javascript">
 	send_message('info','Mensaje enviado','Hemos enviado un correo para reestablecer su contrase\u00F1a, no olvide verificar en su bandeja de correos no deseados o spam.');
 	/*window.setTimeout(function(){
 		window.location.href = "/";
    }, 2500);*/
 </script>
{% endif %}

{% if password_reset %}
 <script type="text/javascript">
 	emitir_mensaje('info','Restablecimiento de contrase\u00F1a','Se ha restablecido su contrasen\u00F1a satisfactoriamente');
 </script>
{% endif %}

{% if user_exists_error %}
 <script type="text/javascript">
 	emitir_mensaje('error','Oops, Ha ocurrido un error.','El email introducido ya se encuentra registrado, Por favor verifique e intente nuevamente.');
 </script>
{% endif %}

{% if error_user %}
 <script type="text/javascript">
 	emitir_mensaje('error','Oops, Ha ocurrido un error.','El email introducido no existe');
 </script>
{% endif %}


{% if error_password %}
 <script type="text/javascript">
 	emitir_mensaje('error','Oops, Ha ocurrido un error.','La contrase\u00F1a introducida es invalida');
 </script>
{% endif %}


{% if account_active %}
 <script type="text/javascript">
 	emitir_mensaje_redirect('error','Oops, Ha ocurrido un error.','Este enlace ya ha sido utilizado para activar la cuenta {{username}}','/');
 </script>
{% endif %}


















<section class="view background-body">
	<div class="mask rgba-black-light d-flex justify-content-center align-items-center">
		<div class="container">
			<div class="row">

				
				<div class="col-12">
					<h1>RemesasVE {{password1}} == {{password2}}</h1>
				</div>
				<div class="col-12">
					<h4>Facil, rapido y seguro {{form.errors}}</h4>
				</div>
			
				<!-- <a href="{% url 'log-in' %}" class="btn btn-default waves-effect ml-3">Iniciar sesi&oacute;n</a> -->
				<!-- <a href="{% url 'sign-up' %}" class="btn btn-primary">Registrate</a> -->
				<a class="btn btn-default waves-effect ml-" data-toggle="modal" data-target="#modalLRForm" id="log-in-button-index">Iniciar sesi&oacute;n</a>
				<a class="btn btn-primary" data-toggle="modal" data-target="#modalLRForm" id="sign-up-button-index">Registrate</a>
			</div>
		</div>
	</div>
</section>
{% endblock %}


  

