{% extends 'templates/template_base.html' %}
{% load static %}



{% block header %}
<!-- <section class="text-light grey darken-4 fixed-top mb-0 p-2">
  <div class="container">
      hola
  </div>
</section> -->


{% endblock %}


{% block nav %}
<div class="container fixed-top">
<div class="scrolling-navbar">
  <span class="navbar-text blue-text">
    <a href="{% url 'home-app' %}"><i class="fas fa-arrow-left mt-1 fa-lg"></i></a>
    
  </span>
</div>
</div>
{% endblock %}


{% block content %}
<div class="container mt-5">
<span class="blue-text"><b>Iniciar sesi&oacute;n</b></span>
  <br>
<!-- <form method="POST" action="{% url 'inicio' %}"> -->
{% csrf_token %}
  <div class="md-form form-sm mb-5">
    <i class="fas fa-envelope prefix"></i>
    <input type="email" id="modalLRInput10" autocomplete="off" class="form-control form-control-sm validate" name="usernamelogin" required="" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})">
    <label data-error="wrong" data-success="right" for="modalLRInput10" >Tu email</label>
  </div>
  <div class="md-form form-sm mb-4">
    <i class="fas fa-lock prefix"></i>
    <div class="d-flex justify-content-end"><i class="fa fa-eye-slash show-hide-password" id="show-hide-login"></i></div>
    <input type="password" id="password" class="form-control form-control-sm validate" name="passwordlogin" required="">
    <label data-error="wrong" data-success="right" for="password" maxlength="45">Tu contrase&ntilde;a</label>
  </div>
  
  <div class="">
    <button class="btn btn-info col s12" name="log-in-action" id="log-in-action" value="True" onclick="emitir_mensaje_toast('warning','Estamos trabajando para ofrecerte este servicio.');">Iniciar sesi&oacute;n</button>
  </div>

  <div class="modal-footer d-flex justify-content-center">
    <p><a class="blue-text d-flex justify-content-center" id="password-reset" data-toggle="tab" href="#panel-password-reset" role="tab" onclick="emitir_mensaje_toast('warning','Estamos trabajando para ofrecerte este servicio.');"><b>Olvidaste tu contrase&ntilde;a?</b></a></p>
  </div>
<!-- </form> -->
</div>

  <div class="container fixed-bottom mb-3 grey lighten-3">
    <span class="d-flex justify-content-center grey-text mb-2">- o inicia sesi&oacute;n usando -</span>
    <div class="row d-flex justify-content-center">
        <button type="button" class="btn btn-outline-primary waves-effect col s12" onclick="emitir_mensaje_toast('warning','Estamos trabajando para ofrecerte este servicio.');"><img src="{% static 'mdbootstrap/img/social_img/google.png'%}" width="25px" height="25px"></button>
        <button type="button" class="btn btn-outline-primary waves-effect col s12" onclick="emitir_mensaje_toast('warning','Estamos trabajando para ofrecerte este servicio.');"><img src="{% static 'mdbootstrap/img/social_img/facebook.png'%}" width="25px" height="25px"></button>
    </div> 
  </div>
{% endblock %}


{% block footer %}
{% endblock %}

