{% extends 'templates/template_base.html' %}
{% load static %}



{% block content %}
<section class="mt-4 background-body" style="margin-bottom: 500px;">
	<div class="container">
    <div>
      <h4 class="black-text  text-center"><strong>Preguntas frecuentes</strong></h4>
      <hr>
      <div class="card-body px-lg-5 pt-0">





        <!-- PRIMERA PREGUNTA FRECUENTE -->
        <div class="row mt-4">
          <div class="col-md-6 mb-4">
            <div class="card gradient-card">
              <div class="card-image" >
                <div class="text-white d-flex h-100 mask blue-gradient-rgba">
                  <div class="first-content align-self-center p-3">
                    <h3 class="card-title">Cuanto tarda en hacerse el envio?</h3>
                  </div>
                  <div class="second-content align-self-center  text-center mr-3">
                    <i class="far fa-money-bill-alt fa-3x"></i>
                  </div>
                </div>
              </div>
              <div class="card-body white">
                <p class="text-muted" align="justify">Una vez realizada la conciliacion del dinero. En las proximas 3 horas estaria disponible tu dinero.</p>
              </div>
            </div>
          </div>
        
        <!-- /PRIMERA PREGUNTA FRECUENTE -->

        <!-- SEGUNDA PREGUNTA FRECUENTE -->
        <div class="col-md-6 mb-4">
          <div class="card gradient-card">
              <div class="card-image" >
                  <div class="text-white d-flex h-100 mask blue-gradient-rgba">
                    <div class="first-content align-self-center p-3">
                      <h3 class="card-title">Cuanto es el monto m&iacute;nimo y m&aacute;ximo para enviar?</h3>
                    </div>
                    <div class="second-content align-self-center text-center mr-3">
                      <i class="fas fa-chart-line fa-3x"></i>
                    </div>
                  </div>
              </div>
              <div class="card-body white">
                <p class="text-muted" align="justify">Nuestro monto inicial es de £25 y nuestro monto tope es de £500 por mes.</p>
              </div>
          </div>
        </div>
        <!-- /SEGUNDA PREGUNTA FRECUENTE -->

        <!-- TERCERA PREGUNTA FRECUENTE -->
        <div class="col-md-6 mb-4">
          <div class="card gradient-card">
              <div class="card-image" >
                  <div class="text-white d-flex h-100 mask blue-gradient-rgba">
                    <div class="first-content align-self-center p-3">
                      <h3 class="card-title">Realizan envios a todos los bancos en Venezuela?</h3>
                    </div>
                    <div class="second-content align-self-center text-center mr-3">
                      <i class="fas fa-check-double fa-3x"></i>
                    </div>
                  </div>
              </div>
              <div class="card-body white">
                <p class="text-muted" align="justify">Si, realizamos envios a todos los bancos en Venezuela, Siempre y cuando sean cuentas corrientes.</p>
              </div>
          </div>
        </div>
        <!-- /TERCERA PREGUNTA FRECUENTE -->

        <!-- CUARTA PREGUNTA FRECUENTE -->
        <div class="col-md-6 mb-4">
          <div class="card gradient-card">
              <div class="card-image" >
                  <div class="text-white d-flex h-100 mask blue-gradient-rgba">
                    <div class="first-content align-self-center p-3">
                      <h3 class="card-title">Como puedo enviar dinero con ustedes?</h3>
                    </div>
                    <div class="second-content align-self-center text-center mr-3">
                      <i class="fas fa-comments-dollar fa-3x"></i>
                    </div>
                  </div>
              </div>
              <div class="card-body white">
                <p class="text-muted" align="justify">Sencillo, solo debes estar registrado en RemesasVE, y realizar cada uno de los pasos solicitados.</p>
              </div>
          </div>
        </div>
        <!-- /CUARTA PREGUNTA FRECUENTE -->








        </div>
      </div>
    </div>
  </div>
</section>
<section class="p-5">
 <br>
</section>
{% endblock %}


