{% extends 'templates/template_base.html' %}
{% load static %}





{% block content %}
<section class=" mt-4 background-body" style="margin-bottom: 500px;">
  <div class="container">
    <div>
      <h4 class="black-text  text-center"><strong>Nosotros</strong></h4>
      <hr>
      <div class="card-body px-lg-5 pt-0">



        <!-- <div class="col">
          <div class="card">
            <div class="view overlay">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <div class="card-body">
              <h4 class="card-title">Facil</h4>
              <p class="card-text">Solo registrate, y sigue los pasos para enviar tu dinero.</p>
            </div>
          </div>
        </div> -->
 <!--  <div class="col mb-4">
    <div class="card">
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
          alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <div class="card-body">
        <h4 class="card-title">Rapido</h4>
        <p class="card-text">Nos encargamos de hacer llegar tu dinero a Venezuela de forma inmediata.</p>
      </div>
    </div>
  </div> -->
  
  <!-- <div class="col mb-4">
    <div class="card">
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
          alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <div class="card-body">
        <h4 class="card-title">Seguro</h4>
        <p class="card-text">A traves de nuestra plataforma cada unas de tus transacciones estan protegidas.</p>
      </div>
    </div>
  </div> -->

  <!-- <div class="col mb-4">
    <div class="card">
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
          alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <div class="card-body">
        <h4 class="card-title">Transferencias</h4>
        <p class="card-text">Trabajamos con todos los bancos en Venezuela. Sin importar Domingos y Feriados </p>
      </div>
    </div>
  </div> -->





        </div>
      </div>
    </div>

	
</section>
<section class="p-5">
 <br>
</section>
{% endblock %}


