{% extends 'templates/template_base.html' %}
{% load static %}
{% block content %}
<section class="mt-4 background-body">
	<div class="container">
      <h4 class="black-text text-center"><strong>Tipo de cambio</strong></h4>
      <hr>
      	<div class="row"> 
        <div class="col"> 
	      	<div class="d-flex align-items-center justify-content-around">
	      		<img src="{% static 'mdbootstrap/img/countries/ue.png' %}" width="150px" height="100px">
	        </div>
	        <div class="d-flex align-items-center justify-content-around">
	      		<h6>1 EUR/VES</h6>
	        </div>
	        <div class="d-flex align-items-center justify-content-around">
	      		<h5 style="color: green">175.000,00 Bs.</h5>
	        </div>
        	<hr>
        </div>
      	<div class="col"> 
	      	<div class="d-flex align-items-center justify-content-around">
	      		<img src="{% static 'mdbootstrap/img/countries/uk.png' %}" width="150px" height="100px">
	        </div>
	        <div class="d-flex align-items-center justify-content-around">
	      		<h6>1 GBP/VES</h6>
	        </div>
	        <div class="d-flex align-items-center justify-content-around">
	      		<h5 style="color: green">200.000,00 Bs.</h5>
	        </div>
	        <hr>
        </div>

        <div class="col"> 
	      	<div class="d-flex align-items-center justify-content-around">
	      		<img src="{% static 'mdbootstrap/img/countries/usa.png' %}" width="150px" height="100px">
	        </div>
	        <div class="d-flex align-items-center justify-content-around">
	      		<h6>1 USD/VES</h6>
	        </div>
	        <div class="d-flex align-items-center justify-content-around">
	      		<h5 style="color: green">160.000,00 Bs.</h5>
	        </div>
	        <hr>
        </div>
        
        <div class="col"> 
	      	<div class="d-flex align-items-center justify-content-around">
	      		<img src="{% static 'mdbootstrap/img/countries/panama.png' %}" width="150px" height="100px">
	        </div>
	        <div class="d-flex align-items-center justify-content-around">
	      		<h6>1 USD/VES</h6>
	        </div>
	        <div class="d-flex align-items-center justify-content-around">
	      		<h5 style="color: green">160.000,00 Bs.</h5>
	        </div>
	        <hr>
        </div>

         <div class="col"> 
	      	<div class="d-flex align-items-center justify-content-around">
	      		<img src="{% static 'mdbootstrap/img/countries/chile.png' %}" width="150px" height="100px">
	        </div>
	        <div class="d-flex align-items-center justify-content-around">
	      		<h6>1 CPL/VES</h6>
	        </div>
	        <div class="d-flex align-items-center justify-content-around">
	      		<h5 style="color: green">208.86,00 Bs.</h5>
	        </div>
	        <hr>
        </div>

        <div class="col"> 
	      	<div class="d-flex align-items-center justify-content-around">
	      		<img src="{% static 'mdbootstrap/img/countries/ar.png' %}" width="150px" height="100px">
	        </div>
	        <div class="d-flex align-items-center justify-content-around">
	      		<h6>1 ARS/VES</h6>
	        </div>
	        <div class="d-flex align-items-center justify-content-around">
	      		<h5 style="color: green">2.568,02 Bs.</h5>
	        </div>
	        <hr>
        </div>


        </div>
    </div>
</section>
<!-- <section class="p-5">
 <br>
</section> -->
{% endblock %}
