{% extends 'templates/template_dashboard.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
{% block tittle %}
	<title>Restablecer contrase&ntilde;a</title>
{% endblock %}
</head>

{% block header %}
{% endblock %}

{% block nav %}
<div class="navbar-fixed "> 
	<div class="grey darken-4 center">
		<div class="">
			<img src="{% static 'mdbootstrap/img/logo.png'%}" width="140px" height="50px" />
		</div>
	</div>   
</div>
{% endblock %}



{% block content %}
  <div class="row" style="margin-top: 50px;">
	<div class="col m2 l2"></div>
    <div class="col s12 m12 l8">
      <div class="card white darken-4">
        <div class="card-content white-text blue darken-1">
          <span class="card-title center">Restablecer contrase&ntilde;a</span>
        </div>
        {% if validlink %}
        <form method="POST">
        {% csrf_token %}
        <div class="card-action">
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">lock</i>
					<input id="new_password1" name="new_password1" type="password" autofocus="" class="validate" required="" maxlength="45">
					<label for="new_password1">Contrase&ntilde;a</label>
					<div class="left-align" style="margin-left: 45px;">
					<small id="letras-numeros" class="red-text"><b>M&iacute;nimo de 8 caracteres con al menos una letra en miniscula, un n&uacute;mero y un car&aacute;cter especial.</b></small>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">lock</i>
					<div class="right-align"><i class="fa fa-eye-slash show-hide-password"  id="show-hide"></i></div>
					<input id="new_password2" name="new_password2" type="password" class="validate" required maxlength="45">
					<label for="new_password2">Repetir contrase&ntilde;a</label>
					<div class="left-align" style="margin-left: 45px; ">
					<small id="mensaje_error" class="green-text" style="display: block;"><b>Las contrase&ntilde;as coinciden.</b></small>
					</div>
				</div>
			</div>
        </div>
        <div class="card-action center grey lighten-4">
        <button class="waves-effect waves-light btn-small blue darken-1" id="reset-password" name="reset-password">Restablecer contrase&ntilde;a</button>
        </div>
    	</form>
    	{% else %}
    	<div class="card-action">
			<div class="row">
				<div class="input-field col s12">
					<h5>Oops, este enlace ya ha sido utilizado, Si desea restablecer su contrase&ntilde;a, por favor solicite uno nuevo.</h5>
				</div>
			</div>
        </div>
		<div class="card-action center grey lighten-4">
			 <a class="waves-effect waves-light btn-small blue darken-1" href="{% url 'inicio'%}" >Volver a la web</a>
		</div>
        {% endif %}
      </div>
    </div>
    <div class="col m2 l2"></div>
  </div>
{% endblock %}



